/*Layout*/
  div.main{
    position: relative;
    display: inline-block;
    float: left;
    left: 70px;
    background-color:;
    width: 750px;
  }
  
  .right{
    float: left;
  }
  
  core-menu{
    display: inline-block;
    background-color: #f9fafa;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
  }
  
  core-item{
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 13px;
    margin-top: 15px;
    margin-left: 16px;
    }

  /* drawer is always visible on a wide screen 
      so menu button isn't required */
  core-drawer-panel:not([narrow]) #navicon {
    display: none;
  }

  core-drawer-panel:not([narrow]) .linktitle {
    margin-left: 54px;
  }

  /*Showcase*/
    #scc1{margin-top: 60px; background-color: #66499e;}
    #scc2{background-color: #4cae4e;}
    #scc3{background-color: #e71f63;}
    #scc4{background-color: #f8971c;}
    #scc5{background-color: #38a4dc;}

    #signup{
      font-size: 16pt;
      background-color: #b8d54a;
      color: white;
    }

/*Top bar*/
  core-toolbar.mainheader{
    background-color: #09bcd4;
    color: white;
  }

  core-toolbar{
    background-color: #202020;
    color: white;
  }

  a.linktitle:link, a.linktitle:visited, a.linktitle:active, a.linktitle:hover{
    color: white;
    text-decoration: none;
  }

/*Text*/
  a:link, a:visited {
    color: #b8d54a;
    text-decoration: none;
  }

  a:hover, a:active{
    color: #09bcd3;
    text-decoration: underline;
  }

  ::selection{
    background: #b6e2eb;
  }

  h1.display4{
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 112px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: -8px;
    opacity:;
    color:;
  }
  
  h1{
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 56px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
    opacity:;
    color:;
  }
  
  h2{
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 45px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
    opacity:;
    color:;
  }
  
  h3{
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 34px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
    opacity:;
    color:;
  }
  
  h4{
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity:;
    color:;
  }
  
  h5{
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0px;
    opacity:;
    color:;
  }
  
  h6{
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
    opacity:;
    color:;
  }
  
  p{
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 200%;
    margin-top: 0;
    margin-bottom: 20px;
    max-width: 600px;
    opacity:;
    color:;
  }
  
  p.body2{
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 200%;
    margin-top: 0;
    margin-bottom: 20px;
    opacity:;
    color:;
  }
  
  p.caption{
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
    opacity: 0.87;
    color:;
  }
  
  footer{
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align:center;
    margin-top: 0;
    margin-bottom: 30px;
    opacity: 0.54;
    color:;
    display: none;
  }

/*Special text*/
  ul{
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 40px;
    opacity:;
    color:;
  }

  li{
    margin-bottom: 15px;
  }

/*Elements*/
  paper-button{
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    opacity:;
    color:;
  }

  /*Polymer-UI*/
    polymer-ui-card{
      display: block;
      width: 352px;
      height: 198px;
    }
